:root {
  --delay: 300ms;
  --button-blue: hsl(194, 75%, 36%);
  --button-blue-darker: hsl(194, 75%, 20%);
  --deep-dark-blue: hsl(194, 60%, 16%);
  --button-green: #3ecc66;
  --button-red: #f81111;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    visibility: hidden;
    transform: scaleY(5%);
    transform-origin: -100% 0;
  }
  to {
    visibility: visible;
    transform: scaleY(100%);
    transform-origin: -100% 0;
  }
}

@keyframes lateralSlide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: 'Inconsolata', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

body {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2rem;
  width: fit-content;
  color: var(--button-blue-darker);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

main {
  text-align: center;
}

main h1 {
  margin-bottom: 1em;
  color: var(--deep-dark-blue);
  animation: 1s fadeIn ease-in-out;
  animation-fill-mode: backwards;
  transform-origin: center;
}

main h2 {
  animation: 1s fadeIn ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

.button-wrapper {
  box-shadow: 0.25rem 0.25rem 0.5rem lightgrey;
  border-radius: 1rem;
  background: var(--button-blue-darker);
  animation: 1s lateralSlide ease;
  animation-fill-mode: backwards;
}

.button-wrapper:nth-child(1) {
  animation-delay: calc(1 * var(--delay));
}

.button-wrapper:nth-child(2) {
  animation-delay: calc(2 * var(--delay));
}

.button-wrapper:nth-child(3) {
  animation-delay: calc(3 * var(--delay));
}

.button {
  display: block; /* centering img on span.button-wrapper */
  box-shadow: inset 0 0 1rem hsl(194deg 75% 15%);
  border-radius: 1rem;
}

.player-btn {
  cursor: pointer;
  transition: 200ms transform ease-in-out;
  padding: 0.125rem; /* will be replaced by a border on :hover*/
  background-color: var(
    --button-blue
  ); /* fix white space on :active transform */
}

.player-btn:hover {
  padding: 0px;
  transform: scale(103%);
  transition: 200ms transform ease-in-out;
  transform-origin: center;
  border: 0.125rem solid var(--button-blue-darker);
}

.player-btn:active {
  transform: scale(95%);
  transition: 100ms transform ease-in-out;
}

#computer-buttons,
#player-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

#console {
  padding: 2rem;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  color: var(--deep-dark-blue);
  font-size: 1.25rem;
  margin: 1.5rem 1.5rem;
  border: 1px dotted hsl(194, 75%, 10%, 50%);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.5rem hsl(0, 0%, 83%, 80%);
  animation: 800ms slideDown ease;
}

#score {
  border: 0.125rem solid var(--button-blue);
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem auto;
  align-self: flex-start;
  max-width: max-content;
  aspect-ratio: 8;
  line-height: 1.5em;
  color: var(--button-blue-darker);
  animation: 800ms slideDown ease;
  animation-fill-mode: backwards;
  animation-delay: calc(3 * var(--delay));
}

#score h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

#score p {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.red-font {
  color: var(--button-red);
}

.green-font {
  color: var(--button-green);
}

@media (prefers-reduced-motion) {
  #score h2,
  .button-wrapper {
    animation: none;
  }

  #console,
  #score,
  #computer-buttons,
  #player-buttons {
    animation: 1s fadeIn ease-in;
  }
}
