:root {
  --delay: 300ms;
  --gray-shadow: rgba(185, 183, 183, 0.8);
  --welcome-duration: 800ms;
  --button-blue: hsl(194, 75%, 36%);
  --button-blue-darker: hsl(194, 75%, 20%);
  --deep-dark-blue: hsl(194, 60%, 16%);
  --button-green: hsl(137, 54%, 41%);
  --button-red: hsl(0, 58%, 56%);
  --input-error: hsl(0, 89%, 67%, 70%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    visibility: hidden;
    transform: scaleY(5%);
    transform-origin: -100% 0;
  }
  to {
    visibility: visible;
    transform: scaleY(100%);
    transform-origin: -100% 0;
  }
}

@keyframes lateralSlide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
    transform: scaleY(100%);
    opacity: 1;
  }
  to {
    transform: scaleY(0%);
    opacity: 0;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  font-family: 'Inconsolata', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
}

body {
  display: flex;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2rem;
  width: fit-content;
  color: var(--button-blue-darker);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

main {
  text-align: center;
}

#welcome {
  color: var(--deep-dark-blue);
  animation: var(--welcome-duration) fadeIn ease-in-out;
  animation-fill-mode: backwards;
}

#welcome p {
  margin-bottom: 0.5em;
}

#welcome h1 {
  margin-bottom: 1em;
  animation: var(--welcome-duration) fadeIn ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--welcome-duration) / 2);
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  animation: var(--welcome-duration) slideDown ease;
  animation-delay: var(--welcome-duration);
  animation-fill-mode: backwards;
}

input {
  text-align: center;
  padding: 0.5em;
  border: 0.125rem solid var(--button-blue-darker);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: 300ms background ease;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.25rem;
  border: 0.125rem solid var(--button-blue-darker);
  border-radius: 1rem;
  padding: 0.25em 0.5em;
  background-color: var(--button-blue);
  color: aliceblue;
}

input:hover,
button:hover {
  box-shadow: 0 0 0.5rem var(--deep-dark-blue);
  transition: 100ms all ease-in-out;
}

.blink {
  transition: 300ms all ease;
  background: var(--input-error);
}

main h2 {
  animation: 1s fadeIn ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: backwards;
}

.hidden {
  display: none;
}

.slideUp {
  animation: 500ms slideUp ease;
  transform-origin: -100% 0;
  animation-fill-mode: forwards;
  height: 0;
}

.slideDown {
  animation: var(--welcome-duration) slideDown ease;
  animation-delay: var(--welcome-duration);
  animation-fill-mode: backwards;
}

.button-wrapper {
  box-shadow: 0.25rem 0.25rem 0.5rem var(--gray-shadow);
  border-radius: 1rem;
  background: var(--button-blue-darker);
  animation: 1s lateralSlide ease;
  animation-fill-mode: backwards;
}

.button-wrapper:nth-child(1),
.button-wrapper:nth-child(1) .btn-hover,
.instruct-pointer:nth-child(1) {
  animation-delay: calc(1 * var(--delay));
  transition-delay: calc(1 * var(--delay));
}

.button-wrapper:nth-child(2),
.button-wrapper:nth-child(2) .btn-hover,
.instruct-pointer:nth-child(2) {
  animation-delay: calc(2 * var(--delay));
  transition-delay: calc(2 * var(--delay));
}

.button-wrapper:nth-child(3),
.button-wrapper:nth-child(3) .btn-hover,
.instruct-pointer:nth-child(3) {
  animation-delay: calc(3 * var(--delay));
  transition-delay: calc(3 * var(--delay));
}

.button {
  display: block; /* centering img on span.button-wrapper */
  box-shadow: inset 0 0 1rem hsl(194deg 75% 15%);
  border-radius: 1rem;
}

.player-btn {
  cursor: pointer;
  transition: 200ms transform ease-in-out;
  padding: 0.125rem; /* will be replaced by a border on :hover*/
  background-color: var(
    --button-blue
  ); /* fix white space on :active transform */
}

.player-btn:hover,
.btn-hover {
  padding: 0px;
  transform: scale(103%);
  transition: 200ms transform ease-in-out;
  transform-origin: center;
  border: 0.125rem solid var(--button-blue-darker);
}

.player-btn:active,
button:active {
  transform: scale(95%);
  transition: 100ms transform ease-in-out;
}

#instruct-pointers {
  display: grid;
  grid-auto-flow: column;
  width: 16rem;
  margin: 0 auto;
}

.instruct-pointer {
  animation: 1s lateralSlide ease;
  animation-fill-mode: backwards;
}

#instruct-msg {
  animation: var(--welcome-duration) slideDown ease;
  animation-delay: var(--welcome-duration);
  animation-fill-mode: backwards;
}

@keyframes collapse {
  from {
    max-height: 116px;
  }
  to {
    max-height: 0;
  }
}

@keyframes expand {
  from {
    max-height: 0;
  }
  to {
    max-height: 116px;
  }
}

.collapse {
  animation: 500ms collapse ease;
}

.expand {
  animation: 500ms expand ease;
}

#play-again p:first-child {
  margin: 1rem 0;
}

#computer-buttons,
#player-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

#computer-buttons .button {
  width: 3.75rem;
  aspect-ratio: 1;
}

#console {
  font-size: 1.5rem;
  font-family: 'Silkscreen', Arial, Helvetica, sans-serif;
  color: var(--deep-dark-blue);
  border: 1px dotted hsl(194, 75%, 10%, 50%);
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.5rem var(--gray-shadow);
  height: 7.5rem;
  padding: clamp(0.5rem, 5%, 2rem);
  margin: 1.5rem clamp(0rem, 5%, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 800ms slideDown ease;
}

.red-font {
  color: var(--button-red);
}

.green-font {
  color: var(--button-green);
}

@media (max-width: 600px) {
  #console .initial-msg {
    font-size: 1.2rem;
  }
}

@media (max-width: 430px) {
  #console {
    padding: 0 0.25rem;
    height: clamp(8rem, 50vh, 11rem);
  }
}

@media (prefers-reduced-motion) {
  #score h2,
  .button-wrapper,
  #welcome h1,
  #input-wrapper,
  .instruct-pointer,
  #instruct-msg {
    animation: none;
  }

  .btn-hover {
    transition: none;
    transform: scale(100%);
  }

  .slideUp,
  .collapse,
  .expand {
    animation-duration: 1s;
  }

  #console,
  #score,
  #computer-buttons,
  #player-buttons {
    animation: 1s fadeIn ease-in;
  }
}
